<div class="container">
  <mat-card>
    <mat-card-header class="title">
      <mat-card-title>{{ 'FORGOT_PASSWORD' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'EMAIL' | translate }}</mat-label>
          <input matInput formControlName="email" type="email" required />
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
            {{ 'EMAIL_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
            {{ 'EMAIL_FORMAT_INVALID' | translate }}
          </mat-error>
        </mat-form-field>

        <div class="actions">
          <button mat-flat-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
            {{ 'SEND_PASSWORD_RESET_EMAIL' | translate }}
          </button>
        </div>

        <div class="language-button">
          <button mat-button [matMenuTriggerFor]="languageMenu" class="language-button">
            <img class="flag-icon" src="/language.svg" alt="Flag" />
          </button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item (click)="onLanguageChange('en')">English</button>
            <button mat-menu-item (click)="onLanguageChange('uk')">Українська</button>
          </mat-menu>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
