<h1 mat-dialog-title>
  {{ data.visit ? ('EDIT_VISIT' | translate) : ('ADD_VISIT' | translate) }}
</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <!-- General Information Tab -->
    <mat-tab label="{{ 'TABS.GENERAL' | translate }}">
      <form [formGroup]="visitForm" class="tab-content">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'VISIT.DATE' | translate }}</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'VISIT.TYPE.TITLE' | translate }}</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of visitTypes" [value]="type">{{ 'VISIT.TYPE.' + getEnumKey(type) | translate }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'VISIT.REASON' | translate }}</mat-label>
          <input matInput formControlName="reason" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'VISIT.RESULT' | translate }}</mat-label>
          <input matInput formControlName="result" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'VISIT.DIAGNOSIS' | translate }}</mat-label>
          <input matInput formControlName="diagnosis" />
        </mat-form-field>
      </form>
    </mat-tab>

    <mat-tab label="{{ 'TABS.MEDICINES' | translate }}">
      <app-medicines
        [medicines]="medicines"
        (medicinesChange)="onMedicinesChange($event)"
      ></app-medicines>
    </mat-tab>
  </mat-tab-group>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'ACTIONS.CANCEL' | translate }}</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="visitForm.invalid">
    {{ 'ACTIONS.SAVE' | translate }}
  </button>
</div>
